/*
    Title: Edge-Like Tree Style Tabs
    Author: @Drannex42 (https://github.com/drannex42/linux-utils - https://macleodsawyer.com)
*/

.tab .twisty {
   display: none;
}
/* Push tab labels slightly to the right so they're completely hidden in collapsed state */
.favicon {
  --favicon-size: 1.2em;
  margin-left: 0.3em;
}
.newtab-button {
    display: none;
}
tab-item .label {
  padding: 0.85em !important;
}
tab-item {
  border-radius: 0.3em;
  position: relative !important;
}
tab-item.active {
  background: #ececec;
}
tab-item:hover {
  background: #dedede;
}

:root.left #tabbar {
  margin-top: 0.5em;
}

tab-item.pinned {
  --pinned-position-top: 0 !important;
}

#tabbar [data-level] {
  margin: 0.1em 0.4em;
}
tab-item tab-closebox {
  margin: 0 0.5em;
}
tab-item tab-closebox:hover {
  opacity: 0.5;
}
tab-item .contextual-identity-marker {
  height: 70%;
  width: 0.35em !important;
}

@media screen and (max-width: 51px) {
  .tab {
    padding-right: 0;
  }
  tab-item .contextual-identity-marker {
    display: none;
  }
}
