:root {
  --sidebar-width: 14em;
  --toolbar-height: -50px;
  --menubar-height: -40px;
  --toolmenubar-height: -80px;
  --sidebar-padding: calc(var(--sidebar-width) + 5px);
  --toolbar-start-end-padding: 5px !important;
  --toolbar-start-end-padding: 5px !important;
  --tab-text-regular: black;
}
/* hides the native tabs */
#TabsToolbar {
  display: none;
}
/* reposition toolbar/searchbar to the right of the sidebar */
.browser-toolbar {
    margin-left: calc(var(--sidebar-width));
}
/* sidebar */
#sidebar {
  margin-top: -40px;  /* reposition sidebar to start at the top of the window */
  /* border-right: 1px solid #ccc; */
  width: var(--sidebar-width) !important;
}
#sidebar-box {
  width: var(--sidebar-width) !important;
}
#sidebar-header {
    display: none;
}
#sidebar-splitter {
    display: none;
}
