/*
  Title: Drannex42's Personal userChrome.css for Firefox
*/

:root {
  --sidebar-width: 12em;
  /* --toolbar-height: -50px; */
  --menubar-height: -40px;
  --toolmenubar-height: -80px;
  --sidebar-padding: calc(var(--sidebar-width) + 5px);
  --toolbar-start-end-padding: 5px !important;
  --toolbar-start-end-padding: 5px !important;
  --tab-text-regular: black;
}

#sidebar-box {
  z-index: 9999;
  position: relative;
  margin-top: var(--menubar-height);
  border-right: 1px solid #ccc;
  /* transition: all 0.2s ease 0s; */
  max-width: var(--sidebar-width);
}

#sidebar-box:hover {
  /* max-width: 24em !important; */
  /* margin-right: -12em !important; */
}
#sidebar-header {
    height: 40px;
    display: none;
}
.browser-toolbar {
    margin-left: calc(var(--sidebar-width) + 2em);
}
#sidebar-splitter { display: none; }
#sidebar-close { display: none; }
#sidebar-title { display: none; }
#sidebar-switcher-arrow { display: none; }
/* Hide the title bar */
/* #titlebar { display: none !important; } */

/* hides the native tabs */
#TabsToolbar {
  display: none;
}