---
- name: Dotfiles Provisioning
  hosts: 127.0.0.1
  connection: local

  vars:
    shell_path: "/bin/zsh"
    current_shell: "{{ ansible_env.SHELL }}"
    sublime_path: "{{ ansible_env.SUBLIME_PATH | default('') }}"
    provisioning_path: "{{ ansible_env.PROVISIONING_PATH | default('~/dotfiles') }}"

  roles:
    - role: debian
      when: ansible_os_family == 'Debian'
    - role: osx
      when: ansible_os_family == 'Darwin'

  tasks:
    - name: Set default shell to {{ shell_path }}
      command: chsh -s {{ shell_path }}
      when: "current_shell != shell_path"

    - name: Create bash conf directory
      file: dest=~/.bash state=directory

    - name: Create zsh conf directory
      file: dest=~/.zsh state=directory

    - name: Create zsh autocomplete plugins directory
      file: dest=~/.zsh/autocomplete state=directory

    - name: Create ipython conf directory (1/2)
      file: dest=~/.ipython state=directory

    - name: Create ipython conf directory (2/2)
      file: dest=~/.ipython/profile_default state=directory

    - name: create homedir symlinks
      file: src="{{ provisioning_path }}/{{ item.from }}" dest="{{ item.to }}" state=link
      with_items:
        # Bash
        - from: shells/bash/profile
          to: ~/.bash_profile
        - from: shells/bash/bashrc
          to: ~/.bashrc
        # Zsh
        - from: shells/zsh/profile
          to: ~/.zprofile
        - from: shells/zsh/zshrc
          to: ~/.zshrc
        - from: shells/zsh/completion
          to: ~/.zsh/completion
        - from: shells/zsh/terminalapp
          to: ~/.zsh/terminalapp

        # Shell colors
        - from: shells/colors
          to: ~/.bash/colors
        - from: shells/colors
          to: ~/.zsh/colors

        # Dir colors
        - from: shells/dircolors
          to: ~/.dircolors

        # Shell prompt
        - from: shells/bash/prompt
          to: ~/.bash/prompt
        - from: shells/zsh/prompt
          to: ~/.zsh/prompt

        # Alias
        - from: shells/alias
          to: ~/.bash/alias
        - from: shells/alias
          to: ~/.zsh/alias

        # Shell env
        - from: shells/env
          to: ~/.bash/env
        - from: shells/env
          to: ~/.zsh/env

        # Shell funcs
        - from: shells/func
          to: ~/.bash/func
        - from: shells/func
          to: ~/.zsh/func

        # Git
        - from: git/gitconfig
          to: ~/.gitconfig
        - from: git/gitignore
          to: ~/.gitignore

        # Zsh bookmarks
        - from: shells/zsh/zshmarks/zshmarks.plugin.zsh
          to: ~/.zsh/zshmarks
        - from: shells/zsh/zshmarks/_jump
          to: ~/.zsh/autocomplete/_jump
        - from: shells/zsh/bookmarks
          to: ~/.bookmarks

        # Misc
        - from: inputrc
          to: ~/.inputrc
        - from: pylintrc
          to: ~/.pylintrc
        - from: nanorc
          to: ~/.nanorc
        - from: shells/inputrc
          to: ~/.inputrc

        # Path Directories
        - from: bin
          to: ~/bin
        - from: lib
          to: ~/lib
